[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/optional/YouCompleteMe"]
	path = bundle/optional/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-localrc"]
	path = bundle/vim-localrc
	url = https://github.com/thinca/vim-localrc.git
[submodule "bundle/optional/syntastic"]
	path = bundle/optional/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/optional/delimitMate"]
	path = bundle/optional/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/optional/vim-multiple-cursors"]
	path = bundle/optional/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/optional/vim-airline"]
	path = bundle/optional/vim-airline
	url = https://github.com/bling/vim-airline.git
